/* htmlの要素 */
html {
	/* 画面サイズを100% */
	height: 100%;
	/* 余白をなし */
	margin: 0;
}


/* h2の要素 */
h2 {
	/* h2のテキストを真ん中で黒文字 */
	text-align: center;
	color: black;
}

/* 地図 */
iframe {
	position: absolute;
	top: 100px;
	right: 50px;
}

/* 非表示 */
.Invisible {
	display: none;
}

/* ボタンの位置 */
#input_Location {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#List {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -50%);
}