/* htmlの要素 */
html {
	height: 100%;
	background-color: #FFFBF8;
}

body {
	margin: 0;
	padding: 0;
}

/* h2の要素 */
h2 {
	text-align: center;
	color: black;
	padding: 10px;
	margin: 0;
	background-color: #ffffff;
}

header>a {
	text-decoration: none;
}

body>a {
	text-decoration: none;
}

/* 地図 */
iframe {
	top: 150px;
	right: 50px;
	position: absolute;
}

/* 非表示 */
.Hidden {
	display: none;
}

/* ボタンの位置 */
#input_Location {
	position: absolute;
	top: 155px;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 経路案内表示の位置 */
#Route {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#J1,
#J2,
#J3,
#NationalStadium,
#WE,
#CentralLeague,
#PacificLeague,
#B1,
#B2 {
	list-style-type: none;
	padding-left: 10px;
	padding: 1em;
}

/* グローバルナビ */
nav {
	background-color: #333;
	text-align: center;
	font-weight: bold;
}

.gnav {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	/* justify-content: center; */
}

.gnav li a {
	display: block;
	padding: 1em;
	color: #fff;
	text-decoration: none;
}

.Sports:hover {
	background-color: #000;
}

.Sports {
	width: 130px;
}

.League {
	display: none;
	position: absolute;
	background-color: beige;
	width: 130px;
	list-style-type: none;
	padding-left: 0;
}

.League li>a:hover {
	background-color: #DCDCC8;
}

.League>li a {
	color: black;
}

.Sports:hover .League {
	background-color: #EBEBC8;
	display: block;
}

ul.gnav {
	margin: 0;
}